<%- include('../../partials/header') %>

<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>User Login</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/users/authenticate">
                    <input class="form-control" type="email" name="email" placeholder="email@example.com"><br>
                    <input class="form-control" type="password" name="password" placeholder="*******">
                    <br>
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer') %>
